body {
    background-color: black;
    color: #00ff16;
}

.navbar {
    background-color: black !important;
    border-bottom: 2px solid #00ff16;
}

.navbar .navbar-brand {
    color: #00ff16;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #00ff16;
}

.navbar .navbar-text {
    color: #00ff16;
}

.navbar .navbar-text a {
    color: #00ff16;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #00ff16;
}

.navbar .navbar-nav .nav-link {
    color: #00ff16;
    border-width: 1px;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #00ff16;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #000000;
    border-color: #00ff16;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #00ff16;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: black;
    background-color: #00ff16;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #00ff16;
    background-color: #000000;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #000000;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #00ff16;
}

.navbar .navbar-link {
    color: #00ff16;
    border: 1px solid #00ff16;
    border-radius: 0.25rem;
}

.navbar .navbar-link:hover {
    color: #00ff16;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff16;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff16;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff16;
        background-color: #000000;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff16;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff16;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff16;
        background-color: #000000;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff16;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff16;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff16;
        background-color: #000000;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff16;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff16;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff16;
        background-color: #000000;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #00ff16;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ff16;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ff16;
    background-color: #000000;
}

.btn {
    border-color: #00ff16;
    color: #00ff16;
}

.btn:focus{
    color: black !important;
}

.form-control::-webkit-input-placeholder {
    color: black;
}
.form-control:-moz-placeholder {
    color: black;
}
.form-control::-moz-placeholder {
    color: black;
}
.form-control:-ms-input-placeholder {
    color: black;
}

.btn{
    transition: color 1s background-color 1s;
}

.btn:hover {
    color: black;
    background-color: #00ff16;
}

.form-control{
    border-color: #00ff16;
    background-color: #00ff16;
    transition: background-color 0.15s;
    caret-color: #00ff16;
}

.form-control:hover, .form-control:focus {
    background-color: black;
    border-color: #00ff16;
}

.dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    display: inline-block;
}

.col-sm-4, .col-sm-8{
    padding: 2rem;
}

.container{
    padding-top: 2rem;
}

.imagewithtext {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border: 2px solid #00ff16;
}

#brand{
    line-height: 1;
    padding-bottom: 0;
    padding-top: 1px;
}

#card-container{
    padding-right: 40rem;
    background-color: black;
}

.card {
    background-color: black;
    border-color: rgba(0, 255, 22, 1.00);
}

#card-image, #card-info{
    padding: 0.5rem;
}

#reference-icon{
    padding-bottom:0.1rem;
    padding-top: 0.1rem;
}

#reference-container {
    padding-top: 0.5rem;
}

#reference-links {
    display: inline-block;
}

#container-header {
    border-color: #00ff16;
    border-bottom: 2px solid;
}